.container{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 200px;
}


.articles{
    display: flex;
    flex-direction: column;
}
.articles_in{
    margin: 2%;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.header{
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    
}

.logo{
    margin-left: -2%;
    width: 20%;
    border-radius: 50%;
}

.article h2{
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.article h3{
    font-weight: 400;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(158, 158, 158);
    margin-top: -1%;
}

.img{
    justify-self: end;
    width: 200px;
    height: 160px;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add_post{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(54, 54, 54);
    position: absolute;
    align-self: end;
    justify-self: end;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}
.add_post img{
    margin-right: 10%;
    width: 40px;
    height: 40px;
}

@media(max-width:1300px){
    .articles_in{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .img{
        width: 180px;
        height: 140px;
    }
}


@media (max-width:900px) {
    .container{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .articles_in{
        margin: 2%;
        display: flex;
        width: 75%;
        align-items: center;
    }
    .add_post{
        position: absolute;
        align-self: end;
        justify-self: end;
        margin: 1%;
    }
    .add_post img{
        width: 80px;
    }
}
@media(max-width:800px){
    .container{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .articles_in{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width:700px){
    .articles_in{
        margin: 2%;
        display: flex;
        width: 80%;
        align-items: center;
    }
    .logo{
        margin-left: -10%;
        width: 25%;
        border-radius: 50%;
    }
    .add_post img{
        width: 60px;
    }
}

@media(max-width:450px){
    .articles_in{
        margin: 2%;
        display: flex;
        width: 95%;
        align-items: center;
    }
    .logo{
        margin-left: -10%;
        width: 30%;
        border-radius: 50%;
    }
}