.users{
    margin-bottom: 10%;
}

.users_in{
    margin-top: 2%;
}

.input{
    display: flex;
    justify-content: center;
}

.users_input{
    font-weight: 500;
    border: none;
    background-color: rgb(230, 230, 230);
    width: 40%;
    border-radius: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    color: rgb(54, 54, 54);
    padding-left: 2%;
}

.users_input:focus {
    outline: none;
}

.user{
    margin: 3%;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    box-shadow: 1px 1px 60px rgb(117, 116, 116);
    width: 30%;
    height: 200px;
    border-radius: 15px;
}

.user img{
    width: 90px;
}

.user_email{
    width: 50%;
    color: rgb(54, 54, 54);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user_profile{
    text-decoration: none;
    border-style: none;
    background-color: white;
    color: rgb(52, 52, 221);
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media(max-width:1100px){
    .users_input{
        font-weight: 500;
        border: none;
        background-color: rgb(230, 230, 230);
        width: 60%;
        border-radius: 10px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1%;
        color: rgb(54, 54, 54);
        padding-left: 2%;
    }
    .user{
        margin: 3%;
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        justify-content:space-evenly;
        box-shadow: 1px 1px 60px rgb(117, 116, 116);
        width: 40%;
        height: 200px;
        border-radius: 15px;
    }
}

@media(max-width:800px){
    .user{
        margin: 3%;
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        justify-content:space-evenly;
        box-shadow: 1px 1px 60px rgb(117, 116, 116);
        width: 50%;
        height: 180px;
        border-radius: 15px;
    }
    .user img{
        width: 70px;
    }
}

@media(max-width:650px){
    .users_in{
        width: 100%;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
    }
    .user_email h2{
        font-size: 23px;
    }
    .user{
        align-self: center;
        margin: 3%;
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        justify-content:center;
        box-shadow: 1px 1px 60px rgb(117, 116, 116);
        width: 55%;
        height: 150px;
        border-radius: 15px;
    }
    .user img{
        width: 60px;
    }
}

@media(max-width:450px){
    .users_in{
        width: 100%;
        margin-top: 2%;
        display: flex;
        flex-direction: column;
    }
    /* .users_input{
        font-weight: 500;
        border: none;
        background-color: rgb(230, 230, 230);
        width: 100%;
        border-radius: 10px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1%;
        color: rgb(54, 54, 54);
        padding-left: 2%;
    } */
    .user_email h2{
        font-size: 16px;
    }
    .user{
        align-self: center;
        flex-wrap: wrap;
        align-items: center;
        display: flex;
        justify-content:center;
        box-shadow: 1px 1px 60px rgb(117, 116, 116);
        width: 60%;
        height: 120px;
        border-radius: 15px;
    }
    .user img{
        width: 50px;
    }
}